<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId}] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <!-- Logged to console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} %logger{36} - %msg%n"/>
        </Console>

        <!-- Logged to rolling files -->

        <!-- All activity logs -->
        <RollingFile name="AppLog"
                     fileName="logs/app.log"
                     filePattern="logs/archive/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- WARN logs -->
        <RollingFile name="WarnLog"
                     fileName="logs/warn.log"
                     filePattern="logs/archive/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelMatchFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- ERROR logs -->
        <RollingFile name="ErrorLog"
                     fileName="logs/error.log"
                     filePattern="logs/archive/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelMatchFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Request filter's logs -->
        <RollingFile name="RequestLog"
                     fileName="logs/requests.log"
                     filePattern="logs/archive/requests-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="7" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Mutes default warning resolver for handled exceptions -->
        <Logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="ERROR" />

        <!-- Request logging filter outputs -->
        <!-- Prevent flowing into Root Logger's appenders with additivity="false" -->
        <Logger name="io.nology.employees.common.RequestLoggingFilter" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RequestLog"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppLog"/>
            <AppenderRef ref="WarnLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>

</Configuration>